.about {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    &__info {
        background-color: #FF6060;
        border-radius: 10px;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
}