.collapse {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
    @media (max-width: 768px) {
      margin: 0;
      width: 100%;
    }
    &__body {
      background-color: white;
      color: black;
      padding: 20px;
      font-size: 15px;
    }    
    &__arrow-container {
        margin-left: auto;
    }

    &__info {
        justify-content: space-between;
  
        &__header {
            background-color: #FF6060;
            height: 35px;
            border-radius: 5px;
            color: white;
            padding: 15px;
            cursor: pointer;
            font-weight: 600;
            display: flex;
            align-items: center;  
            &.active {
              border-bottom: 1px solid white;
            }
      }      
    }
  }