.grid {
    background-color: #F6F6F6;
    border-radius: 20px;
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding: 0;
      margin: 0;
    }
  }
