.appart {
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    &__header {
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__host-stars {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
    &__title {
        font-weight: 400;
        margin: 0;
    }
    &__address {
        color: black;
        font-size: 100%;
        font-weight: 400;
        margin: 0;
        padding-top: 10px;
    }
    &__collapse {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 50px;
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        &__container {
            width: 100%;
        }
        &__title {
            font-size: 18px;
        }
        &__list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }

    .collapse {
        margin-right: 0;
        margin-left: 0;
        
    }
}

