.appart {
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: 400;
        margin: 0;
    }
    &__address {
        color: black;
        font-size: 100%;
        font-weight: 400;
        margin: 0;
        padding-top: 10px;
    }
}