.appart {
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: 400;
        margin: 0;
    }
    &__address {
        color: black;
        font-size: 100%;
        font-weight: 400;
        margin: 0;
        padding-top: 10px;
    }
    &__collapse {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 50px;
        &__container {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &__title {
            font-size: 18px;
        }
        &__list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}